
/* FOOTER  */
.site-footer {
  padding-bottom: 62px;
}

.foot-inner {

  border-bottom: 1px solid #969696;
}

.foot-start {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 30px;
}

.foot-logo-pic {
  margin-bottom: 13px;
}

.address-item {

  margin-bottom: 16px;
}

.address-link {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 25.2px;
  color: #646464;

}

.address-social-list {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.foot-infos-name {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #323232;
  margin-bottom: 24px;
}

.foot-info-link {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #646464;
}

.foot-info-item:not(:last-child) {
  margin-bottom: 24px;
}

.foot-right {
  width: 292px;
  display: flex;
  flex-direction: column;
}

.foot-form {
  display: flex;
  flex-direction: column;
}

.foot-label {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 25.2px;
  color: #646464;
}

.foot-input {
  margin-bottom: 12px;
  padding: 12px 20px;
  border-radius: 5px;
  border: 1.1px solid #e1e2e4;

}

.foot-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #757575A6;

}

.foot-btn {
  padding: 12px 20px;
  background-image: linear-gradient(332.36deg, #F35F2F -17.11%, rgba(243, 95, 47, 0.75) 86.38%);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  color: #fff;
  border: none;
  opacity: 85%;
}
.foot-end {
  padding-top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot-end-info {

font-size: 14px;
font-weight: 400;
line-height: 14px;
color: #646464;

}
.foot-links-list {
  display: flex;
  align-items: center;
  column-gap: 53px;
}